.modal{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #27ae60;
}
.content{
  position: absolute;
  top: 20%;
  margin-left: 15%;
  margin-right: 15%;
}

#quoteEntry{
  display: none;
  border: none;
}

.topcoat-tab-bar{
  position: fixed; /* This will be always visible and positioned where you want */
  bottom: 0; /* place it to the bottom */
  z-index: 9999;
  width: 100%;
  background: #E5E9E8;
  border-top: 1px solid #9daca9;
}

.topcoat-tab-bar__item {
}

.topcoat-tab-bar__button{
  border-top: 1px solid #E5E9E8 !important;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
background-color: #FFFFFF !important;
}

.topcoat-textarea{
  font-size: 1rem !important;
  line-height: 1.2rem !important;
  padding: 1rem !important;
}

.topcoat-text-input{
  text-align: center;
}

.topcoat-navigation-bar{
  background-color: #e74c3c !important;
  box-shadow: none !important;
}

.topcoat-navigation-bar__title{
  color: #FFFFFF !important;
}
