.sweet-alert button{
  background-color: #2aca76 !important;
}
.content{
  background-color: #FFF;
  position: absolute;
  top: 70px;
  width: 100%;
}
#singleQuoteDiv{
  text-align: left;
  font-size: 24px;
  margin-left: 5%;
  margin-right: 5%;
}

hr{
  border-color: #999;
  border-style: solid;
}

option{
  color: #000;
}

#quoteSubmitDiv{
  text-align: left;
  color: #999;
  padding-left: 10px;
  background-color: rgba(92, 123, 122, 1);
}
@media (min-height: 480px){
  #quoteSubmitDiv{
    position:absolute;
    left:0px;
    bottom:60px;
    width:100%;
    font-family: "KarlaBold" !important;
  }
  
}
@media (max-height: 479px){
  #quoteSubmitDiv{
    position:absolute;
    left: 0px;
    top: 320px;
    width:100%;
    font-family: "KarlaBold" !important;
  }
}

select {
  padding-left: -10px;
  width: 100%;
  outline-width: 0px !important;
  outline-color: #DDD;
  font-family: "Karla";
  font-size: 1.3rem;
  padding:10px;
  margin: 0;
  background: rgba(92, 123, 122, 1);
  color:#FFF;
  border: none;
  text-align: center;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

#submitFriend, #inviteFriendField, #logOut{
  z-index: 2;
}

#goToHomeButtonViewQuotes{
   position: relative;
   left: 0px;
   height: 60px;
   width: 100%;
   font-family: "KarlaBold" !important;
}

@media (min-height: 480px){
  #goToHomeButton, #submitQuote{
    position:absolute;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    font-family: "KarlaBold" !important;
  }
  
}
@media (max-height: 479px){
  #goToHomeButton, #submitQuote{
    position:absolute;
    left: 0px;
    top: 380px;
    height:60px;
    width:100%;
    font-family: "KarlaBold" !important;
  }
}
#quoteEntry{
  display: none;
  border: none;
  box-shadow: none;
  background-color: #EEE;
}
#userEntry{
  margin-top: 5%;
  margin-bottom: 5%;
}

.fa-bars, .fa-comment{
  color: #FFF;
}

.topcoat-navigation-bar__item.left{
  position: absolute !important;
  left: 3% !important;
  top: 5% !important;
  z-index: 1000 !important;
}

.topcoat-navigation-bar__item.right{
  position: absolute !important;
  right: 3% !important;
  top: 5% !important;
  z-index: 1000 !important;
}

.snap-drawers{
  color: #FFF;
  background-color: rgba(91, 123, 123, 1) !important;
}

.snap-drawer{
  width: 100%;
}

.topcoat-navigation-bar{
  overflow: none;
  z-index: 2;
}

.topcoat-notification{
  position: absolute !important;
  left: 10px !important;
  bottom: 20px !important;
  font-size: 0.75rem !important;
}

.topcoat-navigation-bar__title {
  font-size: 2.0rem !important;
}

#quoteEntryDiv{
  width: 100%;
  height: 100%;
  background-color: #EEE;
}

#customLoginButton {
  font-family: "KarlaBold" !important;
  width: 100%;
}

.topcoat-tab-bar__button{
  border-top: 1px solid #E5E9E8 !important;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Karla';
  src: url(Karla-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KarlaBold';
  src: url(Karla-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: bold;
}

body {
background-color: rgba(91, 123, 123, 1) !important;
  font-family: "Karla" !important;
}

.container{
  width: 100%;
  height: 100%;
}

#quoteAuthor{
  color: #999;
}

.topcoat-textarea{
  font-size: 1rem !important;
  line-height: 1.2rem !important;
  padding: 1rem !important;
  padding-left: 0 !important;
}

.topcoat-text-input{
  text-align: center;
}

.topcoat-navigation-bar{
  position: absolute;
  width: 100%;
  background-color: #2aca76 !important;
  box-shadow: none !important;
}

.topcoat-navigation-bar__title{
  z-index: 99999;
  color: #FFFFFF !important;
}

.welcomeScreenContent, .customLogin{
  width: 100%;
  height: 100%;
  position: absolute;
  color: #FFFFFF;
  background-color: #2aca76;
}

.welcomeScreenContent h1 {
  font-size: 98px;
}

.welcomeScreenContent h3{
  font-size: 22px;
}

.welcomeScreenBtnSignup{
  margin-top: 15%;
  font-size: 36px;
  color: #FFF;
  /* font-weight: 100; */
  background-color: inherit;
  padding: 30px 90px;
  border: 3px solid;
  border-color: #FFFFFF;
  border-radius: 5px;
}

.welcomeScreenSignIn{
  padding-top: 20px;
  font-size: 24px;
}

.welcomeScreenSignUp{
  font-size: 24px;
}

#customLoginUsername, #customLoginPassword, #customLoginEmail{
  line-height: 3rem;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 1.25rem;
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 0;
  background-color: #7CE2AC;
  box-shadow: inset 0 1px rgba(0,0,0,.1);
  color: #FFFFFF;
  vertical-align: top;
}

#customLoginForgot {
  color: #FFFFFF;
}

#logOut, #inviteFriend, #submitFriend{
  z-index: 0;
  font-size: 16px;
  color: #FFF;
  background-color: inherit;
  padding: 10px 25px;
  border: 3px solid;
  border-color: #FFFFFF;
  border-radius: 5px;
}

.fa-edit{
  float:right;
  padding-right: 10px;
}

.fa-close{
  float:left;
  padding-left: 10px;
}

.sidebarQuotes{
  font-size: 22px;
}

.sidebarHeader{
  color: #BBB;
}
