<template name="customLogin">
<div class='customLogin'>
{{#if loggingIn}}
<center>
<h3>Loading your quotes, this should only take a second.</h3>
</center>
{{/if}}
{{#unless loggingIn}}
<center>
  <br>
  <input type="text" class="topcoat-text-input" placeholder="Enter Username" id="customLoginUsername" value="">
  <input type="password" class="topcoat-text-input" placeholder="Enter Password" id="customLoginPassword" value=""><br><br>
  <button class="welcomeScreenBtnSignup" data-style="expand-left" data-color="green" id="customLoginSignin">Login</button><br><br>
  <a href='#' id="customLoginForgot">I forgot my password</a><br><br>
  <center><div class='welcomeScreenSignUp'>I need to create an account</div></center>
</center>
{{/unless}}
</div>
</template>
