<template name="headerView">
<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left">
    {{#if currentUser}}
    <i class="fa fa-bars fa-lg">{{#if pendingFriends}}<span class="topcoat-notification">{{pendingFriends}}</span>{{/if}}</i>
    {{/if}}
  </div>
  <div class="topcoat-navigation-bar__item right">
    {{#if currentUser}}
    <i class="fa fa-comment fa-lg">{{#if unread}}<span class="topcoat-notification">{{unread}}</span>{{/if}}</i>
    {{/if}}
  </div>
  <div class="topcoat-navigation-bar__item center full">
    <h1 class="topcoat-navigation-bar__title"><center>quotable</center></h1>
  </div>
</div>
</template>


