<template name="singleQuoteTemplate">
<div id="singleQuoteDiv">
  <br>
  <br>
  <center>
    <div id="singleQuoteDiv">
      "{{quote.text}}"
      <br>
      <br>
      - {{#if overheard}} overheard by {{/if}}@{{authorName}}
      <br>
      {{time}}
      <br>
      <br>
      {{#if currentUser}}
      {{#if liked}}
      {{quote.likes}}  <i class="fa fa-thumbs-up fa-lg"></i>
      {{else}}
      {{quote.likes}}  <i class="fa fa-thumbs-o-up fa-lg"></i>
      {{/if}}
      {{/if}}
    </div>
    <center><button class="ladda-button animated bounceInDown" data-style="expand-left" data-color="green" id="goToHomeButton"><span class="ladda-label" >Back</span></button></center>
  </center>
</div>
</template>


